GATEWAY_PORT=8080
API_HOST_PORT=3000
POSTGRES_DB=gamenight
POSTGRES_USER=gamenight
POSTGRES_PASSWORD=gamenight_dev
API_DB_PASSWORD=gamenight_dev
DB_HOST_OVERRIDE=db
REDIS_HOST_OVERRIDE=cache
DB_START_DELAY=0
